  
<h1 style="font-size:500%;text-align:center;text-decoration: underline;">My Portfolio</h1>

 <div class="row">


<h1 style="border:2px solid Tomato;text-decoration: underline;">Run Poster</h1>


      <div class="large-12 columns color w3-light-">
        <img src="https://preview.3.basecamp.com/3669890/buckets/18525509/uploads/3304349891/versions/5126495694/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9RWVhWMGIxOXZjbWxsYm5SVU9ndHlaWE5wZW1WSklnOHlNREF3ZURFeU1EQStCam9HUlZRPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--65ebe393906e33e8b17492cd80dcd70f6fb376e6" width="300" height="300">


<h1 style="border:2px solid green;text-decoration: underline;">Charged Movie Poster</h1>


      <img src="https://preview.3.basecamp.com/3669890/buckets/18525509/uploads/3304349003/versions/5126507092/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9RWVhWMGIxOXZjbWxsYm5SVU9ndHlaWE5wZW1WSklnMDJPRFI0TmpBd1BnWTZCa1ZVIiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--c72c3e8208e4245dc5088b3bd49870b2d9f725e7" width="300" height="300">


      <h1 style="border:2px solid Tomato;text-decoration: underline;">Comic Design</h1>


      <img src="https://preview.3.basecamp.com/3669890/buckets/18525509/uploads/3304348959/versions/5126511372/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9RWVhWMGIxOXZjbWxsYm5SVU9ndHlaWE5wZW1WSklnOHlNREF3ZURFeU1EQStCam9HUlZRPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--65ebe393906e33e8b17492cd80dcd70f6fb376e6" width="" height="300">



      <h1 style="border:2px solid green;text-decoration: underline;">Car Shop Advertisement</h1>


<img src="https://preview.3.basecamp.com/3669890/buckets/18525509/uploads/3304348963/versions/5126516236/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9RWVhWMGIxOXZjbWxsYm5SVU9ndHlaWE5wZW1WSklnMDJPRFI0TmpBd1BnWTZCa1ZVIiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--c72c3e8208e4245dc5088b3bd49870b2d9f725e7" width="300" height="300">



      <h1 style="border:2px solid tomato;text-decoration: underline;">Bubble Gum Design</h1>


<img src="https://preview.3.basecamp.com/3669890/buckets/18525509/uploads/3304348961/versions/5126530789/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9RWVhWMGIxOXZjbWxsYm5SVU9ndHlaWE5wZW1WSklnMDJPRFI0TmpBd1BnWTZCa1ZVIiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--c72c3e8208e4245dc5088b3bd49870b2d9f725e7" width="300" height="300">


      <h1 style="border:2px solid green;text-decoration: underline;">Illusion</h1>




<img src="https://preview.3.basecamp.com/3669890/buckets/18525509/uploads/3304376643/versions/5126534378/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9RWVhWMGIxOXZjbWxsYm5SVU9ndHlaWE5wZW1WSklnMDJPRFI0TmpBd1BnWTZCa1ZVIiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--c72c3e8208e4245dc5088b3bd49870b2d9f725e7" width="300" height="300">




      <h1 style="border:2px solid Tomato;text-decoration: underline;">Logo</h1>


<img src="https://preview.3.basecamp.com/3669890/buckets/18525509/uploads/3304369919/versions/5126536713/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9RWVhWMGIxOXZjbWxsYm5SVU9ndHlaWE5wZW1WSklnMDJPRFI0TmpBd1BnWTZCa1ZVIiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--c72c3e8208e4245dc5088b3bd49870b2d9f725e7" width="300" height="300">




      <h1 style="border:2px solid green;text-decoration: underline;">Animation Videos</h1>


<div class = "article-post-image">
<div class = "responsive-embed">
<iframe width = "300" height = "300"
src="https://www.youtube.com/embed/1O-wikoMTrs" frameborder= "0"
allowfullscreen></iframe>
  </div>

 
<div class = "article-post-image">
<div class = "responsive-embed">
<iframe width = "300" height = "300"
src="https://www.youtube.com/embed/bGzPTD_jivo" frameborder= "0"
allowfullscreen></iframe>
  </div>   


<div class = "article-post-image">
<div class = "responsive-embed">
<iframe width = "300" height = "300"
src="https://www.youtube.com/embed/u67r2XUhlOM" frameborder= "0"
allowfullscreen></iframe>
  </div>   




    <div class="row">
      <hr>
      <div class="large-5 columns color w3-orange">


        <h3 class="heading;text-align:center;">About Me</h3>


        <p id="about_me">My name is Curtis Spellen , I'm currently enrolled in Queensborough. I love to create animations andd illustration drawings . I will soon receive my Associate Degree after the 2020 Fall Semester</p>


      </div>


     <footer class="w3-container w3-center w3-margin-top" >
    <div class="row">
      <div class="large-12 columns">
        <hr>
        <h3 id="contact">Contact Info</h3>
        <div class="large-4 columns">
          Email: curtisspellen@gmail.com
        </div>
        <div class="large-4 columns">
          Youtube : Captaincurt
        </div>
        <div class="large-4 columns">
          Phone: 347- 000 - 000 
        </div>
      </div>
    </div>
  <div class="large-12 columns">
          <hr/>
          <div class="row">
          
          </div>
  <i class="fa fa-instagram w3-hover-opacity"></i>

    <i class="fa fa-youtube w3-hover-opacity"></i>

  <br>
  <br>
        </div>
</footer>

